{% extends "auctions/layout.html" %} {% block body %}

<h1>Watch List Page</h1>

<div
  class="row row-cols-1 row-cols-md-3 g-4"
  style="max-width: 90%; margin: 50px"
>
  {% for listing in activelistings %}
  <div class="col mb-4">
    <!-- Card displaying listing details -->
    <div class="card h-100">
      <img
        src="{{ listing.imageUrl }}"
        class="card-img-top"
        alt="{{ listing.title }}"
      />
      <div class="card-body">
        <h4 class="card-title" style="color: blue">{{ listing.title }}</h4>
        <p class="card-text">{{ listing.description }}</p>
        <p class="card-text"><b>current price: ${{ listing.price }}</b></p>
        <a
          href="{% url 'listing' category_id=listing.id %}"
          class="btn btn-primary"
        >
          Product Detail</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
